Connect to an sqlite database and select some data

In [3]:
from llama_index.readers.database import DatabaseReader

reader = DatabaseReader(uri="sqlite:///data/db/chinook.db")
query = "SELECT * FROM artist LIMIT 5"
documents = reader.load_data(query=query)
for doc in documents:
    print(doc.text)

ArtistId: 1, Name: AC/DC
ArtistId: 2, Name: Accept
ArtistId: 3, Name: Aerosmith
ArtistId: 4, Name: Alanis Morissette
ArtistId: 5, Name: Alice In Chains